build/
~*
*~
.flatpak-builder/
app-dir/
debian/com.github.lainsce.notejot.debhelper.log
debian/com.github.lainsce.notejot.substvars
debian/com.github.lainsce.notejot/
debian/debhelper-build-stamp
debian/files
obj-x86_64-linux-gnu/