build/
~*
*~
src/clack
debian/com.github.cassidyjames.clack.debhelper.log
debian/com.github.cassidyjames.clack.substvars
debian/com.github.cassidyjames.clack/
debian/debhelper-build-stamp
debian/files
obj-x86_64-linux-gnu/
