Source: com.github.lainsce.notejot
Section: x11
Priority: extra
Maintainer: Lains <lainsce@airmail.cc>
Build-Depends: meson,
               debhelper (>= 9),
               libgtk-3-dev,
               libgranite-dev (>= 0.3.0),
               libgtksourceview-3.0-dev (>= 3.10),
               valac (>= 0.26)

Standards-Version: 3.9.3
Package: com.github.lainsce.notejot
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: A stupidly-simple jotting pad.
