@define-color accent_color #FFE16B;
@define-color accent_color_500 #FFE16B;
@define-color accent_color_300 #FFE16B;

window.unified decoration,
window.unified decoration-overlay {
  border-radius: 8px;
}

window.rounded {
    border-radius: 0 0 8px 8px; 
}

.title {
    font-weight: 700;
}

.destructive-button:hover {
    color: #D07070;
}

.notejot-tbar .image-button {
    border-radius: 8px;
}

.notejot-tbar .image-button image {
    padding: 0 6px;
    margin: -1px;
}

.notejot-tbar separator {
    padding: 0;
    margin: 0;
}

.notejot-tbar .image-button:focus,
.notejot-tbar .image-button:hover {
    background: shade(@base_color, 0.95);
}


.color-button radio,
.color-button radio:checked {
   padding: 4px;
   -gtk-icon-shadow: none;
}
.color-red radio {
    background-color: #F3ACAA;
    color: #F3ACAA;
}
.color-orange radio {
    background-color: #FFC78B;
    color: #FFC78B;
}
.color-yellow radio {
    background-color: #FCF092;
    color: #FCF092;
}
.color-green radio {
    background-color: #B1FBA2;
    color: #B1FBA2;
}
.color-blue radio {
    background-color: #B8EFFA;
    color: #B8EFFA;
}
.color-violet radio {
    background-color: #C0C0F5;
    color: #C0C0F5;
}
.color-neutral radio {
    background-color: #DADADA;
    color: #DADADA;
}
.image-button,
.titlebutton {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    padding: 3px;
    box-shadow: none;
}

.notejot-tview {
	background: #F7F7F7;
    padding: 6px;
    border-top: 1px solid alpha(black, 0.25);
}

.notejot-tc {
    padding: 6px;
    font-size: 1.2rem;
}

.notejot-tview text selection {
    background: shade(mix (@accent_color, @base_color, 0.85), 0.88);
    color: @fg_color;
}

.notejot-tview-dark {
  background: #151515;
  border-top: 1px solid alpha(white, 0.25);
}

.notejot-abar {
  background-color: #F7F7F7;
  padding: 6px 10px;
}

.notejot-abar .image-button {
  border-radius: 8px;
  padding: 6px;
}

.notejot-abar .image-button:focus,
.notejot-abar .image-button:hover {
  background: shade(@base_color, 0.88);
}

.notejot-abar-dark {
  background: #151515;
}

.notejot-bar {
    padding: 2px;
    text-shadow: 0 1px alpha(white, 0.25);
    background: none;
    font-weight: 700;
    color: #151515;
}

.notejot-bar image {
    -gtk-icon-shadow: 0 1px alpha(white, 0.25);
    color: #151515;
}

.notejot-tbar {
	box-shadow: none;
	border-left: none;
	margin: 6px 7px;
    padding: 0;
}

.notejot-ntbar {
	box-shadow: none;
	border-left: none;
	margin: 6px 7px;
    padding: 0;
    background: #F7F7F7;
}

.notejot-ntbar-dark {
	background: #151515;
}

.notejot-column,
.notejot-column treeview {
    background: mix (@accent_color, @base_color, 0.85);
    box-shadow: none;
}

.notejot-fgview {
    background: #F7F7F7;
    padding: 12px;
    padding-top: 45px;
}

.notejot-fgview flowboxchild:selected .notejot-note-grid {
    box-shadow: 0 1px 5px 5px alpha(black, 0.25);
}

.notejot-fgview-dark flowboxchild:selected .notejot-note-grid {
    box-shadow: 0 1px 5px 5px alpha(black, 0.45);
}

.notejot-fgview-dark {
    background: #151515;
}

.notejot-column {
    border-right: 1px solid alpha (black, 0.25);
}

.notejot-side-tbar {
    background: mix (@accent_color, @base_color, 0.85);
    box-shadow: none;
    margin: 0 7px;
    padding: 0;
}

.notejot-column-box {
    padding: 2px;
    margin: 6px;
    border-radius: 8px;
    color: @fg_color;
}

.notejot-column-box:hover,
.notejot-column-box:selected {
    padding: 2px;
    margin: 6px;
    border-radius: 8px;
    background: shade(@base_color, 0.85);
    color: @fg_color;
}

.notejot-label {
    font-weight: 300;
    font-size: 2rem;
}

.notejot-entry {
    border-radius: 8px;
    box-shadow: none;
    font-weight: 300;
    background: #F7F7F7;
}

.notejot-entry-dark {
    background: #151515;
}

.notejot-stack {
    background: #F7F7F7;
    color: #151515;
}

.notejot-stack-dark {
    background: #151515;
    color: #F7F7F7;
}

.vsep {
    background: alpha(black, 0.25);
}

.notejot-note-grid {
    border-radius: 8px;
    box-shadow: 0 1px 5px 5px alpha(black, 0.1);
}

.notejot-note-grid-dark {
    border-radius: 8px;
    box-shadow: 0 1px 5px 5px alpha(black, 0.3);
}

.notejot-note-list {
    border-radius: 8px;
    margin: 3px;
}

.notejot-note-list:active,
.notejot-note-list:checked,
.notejot-note-list:focus,
.notejot-note-list:hover {
    border-radius: 8px;
    background-color: shade(mix (@accent_color, @base_color, 0.85), 0.88);
    color: @fg_color;
}

.notejot-back-button {
    background: mix (@accent_color, @base_color, 0.85);
    box-shadow: none;
    border: 1px solid shade(mix (@accent_color, @base_color, 0.85), 0.88);
    border-radius: 8px;
    padding: 3px;
    margin: 6px 0;
}

.notejot-side-button {
    background: @accent_color;
    border: 1px solid @accent_color;
    box-shadow: none;
    padding: 8px;
    margin: 0;
    border-radius: 8px;
    color: #000;
}

.notejot-side-button:active,
.notejot-side-button:checked,
.notejot-side-button:focus {
  background: shade(@accent_color, 0.95);
  border: 1px solid shade(@accent_color, 0.95);
  color: #000;
}

.notejot-side-button:hover {
    background: shade(@accent_color, 1.1);
    border: 1px solid shade(@accent_color, 1.1);
}

.notejot-side-button label {
  margin-right: 4.3rem;
}