@define-color accent_color #FFE16B;
@define-color accent_color_500 #FFE16B;
@define-color accent_color_300 #FFE16B;

window.unified decoration,
window.unified decoration-overlay {
  border-radius: 8px;
}

.title {
    font-weight: 700;
}

.notejot-tbar .image-button {
    border-radius: 8px;
}

.notejot-tbar .image-button image {
    padding: 0 6px;
    margin: -1px;
}

.notejot-tbar separator {
    padding: 0;
    margin: 0;
}

.notejot-tbar .image-button:focus,
.notejot-tbar .image-button:hover {
    background: shade(@base_color, 0.95);
}

.color-button {
    border-radius: 50%;
    background-image: none;
    border: 1px solid alpha(black, 0.25);
    box-shadow:
        inset 0 1px 0 0 alpha (@inset_dark_color, 0.7),
        inset 0 0 0 1px alpha (@inset_dark_color, 0.3),
        0 1px 0 0 alpha (@bg_highlight_color, 0.3);
}
.color-button:hover,
.color_button:focus {
    border: 1px solid @inset_dark_color;
}
.color-red {
    background-color: #D07070;
}
.color-orange {
    background-color: #FF976B;
}
.color-yellow {
    background-color: #FFE16B;
}
.color-green {
    background-color: #74C02E;
}
.color-blue {
    background-color: #70C0FF;
}
.color-indigo {
    background-color: #6060C5;
}
.color-neutral {
    background-color: #888888;
}
.image-button,
.titlebutton {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    padding: 3px;
    box-shadow: none;
}

.notejot-tview {
	background-color: #F7F7F7;
	font-size: 1.2rem;
	padding: 12px;
}

.notejot-tview text selection {
    background: shade(mix (@accent_color, @base_color, 0.85), 0.88);
    color: @fg_color;
}

.notejot-tview-dark {
  background: #151515;
}

.notejot-abar {
  background-color: #F7F7F7;
  padding: 6px 10px;
  border-bottom: 1px solid alpha (black, 0.25);
}

.notejot-abar .image-button {
  border-radius: 8px;
  padding: 6px;
}

.notejot-abar .image-button:focus,
.notejot-abar .image-button:hover {
  background: shade(@base_color, 0.88);
}

.notejot-abar-dark {
  background: #151515;
  border-bottom: 1px solid alpha (white, 0.25);
}

.notejot-bar {
    padding: 5px;
}

.notejot-tbar {
	background: #FFF;
	box-shadow: none;
	border-bottom: 1px solid alpha (black, 0.25);
	border-left: none;
	margin: 6px 7px;
    padding: 0;
}

.notejot-tbar-dark {
  background: #000;
}

.notejot-column,
.notejot-column list {
    background: mix (@accent_color, @base_color, 0.85);
    box-shadow: none;
}

.notejot-column {
    border-right: 1px solid alpha (black, 0.25);
}

.notejot-side-tbar {
    background: mix (@accent_color, @base_color, 0.85);;
    box-shadow: none;
    margin: 0 7px;
    padding: 0;
}

.notejot-column-box {
    padding: 2px;
    margin: 6px;
    border-radius: 8px;
    border: 1px solid shade(mix (@accent_color, @base_color, 0.85), 0.88);
    background: mix (@accent_color, @base_color, 0.85);
    color: @fg_color;
}

.notejot-column-box:hover,
.notejot-column-box:selected {
    padding: 2px;
    margin: 6px;
    border-radius: 8px;
    border: 1px solid shade(mix (@accent_color, @base_color, 0.85), 0.88);
    background: shade(mix (@accent_color, @base_color, 0.85), 0.88);
    color: @fg_color;
}

.notejot-label {
    font-weight: 300;
    font-size: 2rem;
}

.notejot-entry {
    border-radius: 8px;
    box-shadow: none;
    font-weight: 300;
    background: shade(@color_primary, 1.2);
}

.notejot-stack {
    background: #F7F7F7;
}

.notejot-stack-dark {
    background: #151515;
}
