.rename-button {
    margin-top: 0;
    margin-bottom: 0;
}
.rename-button button,
.rename-button .toggle {
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    font-weight: 700;
    background: none;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    transition: 100ms ease-in-out;
}
.rename-button .toggle:hover {
    background: alpha(@theme_fg_color, 0.1);
    border-right: 1px solid @borders;
    border-left: 1px solid @borders;
    text-shadow: none;
}

/* .popover-list .horizontal, */
/* .popover-list .text-button { */
/*     min-width: 150px; */
/* } */

headerbar.flat {
  background-color: shade(@theme_bg_color, 0.95);
  background-image: none;
}

headerbar.flat:backdrop {
  background-image: none;
  background-color: @theme_base_color;
}

.header-button,
.header-button .toggle,
.header-button .toggle:hover {
    border-radius: 9999px;
    min-width: 32px;
    min-height: 32px;
    padding: 0;
    background: none;
    box-shadow: none;
    border: none;
}

.header-button image {
  padding: 0;
  margin: 0;
}

.header-button:hover,
.header-button .toggle:checked {
  background: alpha(@theme_fg_color, 0.1);
}

.header-button:active {
  background: alpha(@theme_fg_color, 0.2);
}

.close {
  min-height: 24px;
  min-width: 24px;
  padding: 0;
  box-shadow: none;
  border: none;
  background: alpha(@theme_fg_color, 0.1);
}

.close:backdrop {
  background: none;
}

.close:hover {
  background: alpha(@theme_fg_color, 0.2);
}

.close:active {
  background: alpha(@theme_fg_color, 0.3);
}

.color-red {
    background: #db898e;
    color: #db898e;
}
.color-orange {
    background: #eeab7a;
    color: #eeab7a;
}
.color-yellow {
    background: #f6dc83;
    color: #f6dc83;
}
.color-green {
    background: #92dcb9;
    color: #92dcb9;
}
.color-blue {
    background: #89b3e6;
    color: #89b3e6;
}
.color-purple {
    background: #bc99c8;
    color: #bc99c8;
}
.color-brown {
    background: #beaa98;
    color: #beaa98;
}
.color-reset {
    background: #fbfafa;
    color: #fbfafa;
}

.notejot-sidebar-box {
    box-shadow: none;
    margin: 6px;
    margin-bottom: 0px;
    border-radius: 8px;
}

.notejot-sidebar-box:backdrop {
    opacity: 0.66;
}

.notejot-sidebar-box:active,
.notejot-sidebar-box:selected,
.notejot-sidebar-box:focus,
.notejot-sidebar-box:hover  {
  background: alpha(@theme_fg_color, 0.1);
  color: @theme_fg_color;
}

.notejot-sidebar-box:active:backdrop,
.notejot-sidebar-box:selected:backdrop,
.notejot-sidebar-box:focus:backdrop,
.notejot-sidebar-box:hover:backdrop  {
  opacity: 0.66;
}

.notejot-tview {
  font-family: "Cantarell", sans;
  font-size: 1.2rem;
}

.notejot-bar {
  background: @theme_bg_color;
}

.empty-state {
  background-color: shade(@theme_bg_color, 0.95);
}

.empty-state:backdrop {
  background: @theme_base_color;
}

.notejot-view {
  background: @theme_bg_color;
}

.notejot-view:backdrop {
  background: @theme_base_color;
}

.notejot-searchbar {
  background: alpha(@theme_fg_color, 0.1);
  border-bottom: 1px solid @borders;
}

.dark {
      color: #FFF;
      background-color: #222;
      font-family: "Cantarell", Arial, Helvetica, sans-serif;
      font-weight: 400;
}

.light {
      color: #222;
      background-color: #FFF;
      font-family: "Cantarell", Arial, Helvetica, sans-serif;
      font-weight: 400;
}

.big-font {
      font-size: 1.36rem;
}

.med-font {
      font-size: 1rem;
}

.sml-font {
      font-size: 0.86rem;
}
