.color-button {
    border-radius: 50%;
    background-image: none;
    border: 1px solid alpha(#333, 0.25);
    box-shadow:
        inset 0 1px 0 0 alpha (@inset_dark_color, 0.7),
        inset 0 0 0 1px alpha (@inset_dark_color, 0.3),
        0 1px 0 0 alpha (@bg_highlight_color, 0.3);
}
.color-button:hover,
.color_button:focus {
    border: 1px solid @inset_dark_color;
}
.color-slate {
    background-color: #a5b3bc;
}
.color-white {
    background-color: #fafafa;
}
.color-red {
    background-color: #ff8c82;
}
.color-orange {
    background-color: #ffc27d;
}
.color-yellow {
    background-color: #fff394;
}
.color-green {
    background-color: #d1ff82;
}
.color-blue {
    background-color: #8cd5ff;
}
.color-indigo {
    background-color: #aca9fd;
}
.color-cocoa {
    background-color: #a3907c;
}
.image-button,
.titlebutton {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    padding: 3px;
    box-shadow: none;
}
window.background {
	background-color: @SLATE_700;
}

windowhandle separator {
  margin: 0;
  padding: 0;
}

windowhandle .image-button {
	color: @WHITE_300;
	margin: 3px 6px;
	border: 1px solid alpha (white, 0.35);
}

.titlebutton {
	color: @WHITE_300;
	padding: 0;
	margin: 0 6px;
}

undershoot.top {
    background:
        linear-gradient(
            @SLATE_700 0%,
            alpha(@SLATE_700, 0) 50%
        );
}

undershoot.bottom {
    background:
        linear-gradient(
            alpha(@SLATE_700, 0) 50%,
            @SLATE_700 100%
        );
}
