[Desktop Entry]
Name=Notejot
Comment=Jot your ideas
Exec=com.github.lainsce.notejot
Icon=com.github.lainsce.notejot
Keywords=Text;Plain;Plaintext;Notepad;
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;

[Desktop Action AboutDialog]
Name=About Notejot
Exec=com.github.lainsce.notejot --about
