.solid-csd {
  box-shadow: none;
  outline: 1px solid @borders;
}

.circular radio {
  background: none;
  padding: 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  border-color: alpha(@window_fg_color, 0.3);
}

.circular radio:hover {
  border-color: alpha(@window_fg_color, 0.6);
}

.circular radio:checked {
  border-color: alpha(@window_fg_color, 0.3);
}

.outline {
  background: none;
  border: 1px solid @borders;
}

.content-view {
  border-radius: 8px;
  margin: 0 6px 6px 6px;
}

.notejot-note headerbar {
  box-shadow: none;
  border: none;
  background: none;
}

.content-sidebar {
  margin: 0;
  padding: 0px;
  border: none;
  background: none;
}
.content-sidebar row {
  padding: 0px;
  margin: 6px;
  margin-top: 3px;
  border-radius: 8px;
  background: @view_bg_color;
}
.content-sidebar row:first-child {
  margin-top: 6px;
}
.content-sidebar row:hover {
  background: mix(@view_bg_color, @accent_bg_color, 0.10);
}
.content-sidebar row:selected {
  background: mix(@view_bg_color, @accent_bg_color, 0.20);
}
.content-sidebar child {
  margin: 6px;
  padding: 0px;
  margin-top: 6px;
  border-radius: 8px;
  background: @view_bg_color;
}
.notejot-sidebar-box {
  border-radius: 8px;
}
.content-sidebar child:hover {
  background: mix(@view_bg_color, @accent_bg_color, 0.10);
}
.content-sidebar child:selected {
  background: mix(@view_bg_color, @accent_bg_color, 0.20);
}

.content-sidebar-main {
  background: @window_bg_color;
  margin: 6px 9px;
}
.content-sidebar-main child {
  background: @window_bg_color;
}

.content-sidebar-notebooks-button {
  margin: 6px 9px 0 9px;
  padding: 6px;
  border-radius: 12px;
}
.content-sidebar-notebooks-button image {
  margin-left: 9px;
}
.content-sidebar-notebooks-button:hover {
  background: mix(@view_bg_color, @accent_bg_color, 0.10);
}
.content-sidebar-notebooks-button:active {
  background: mix(@view_bg_color, @accent_bg_color, 0.20);
}
.content-sidebar-notebooks-button:checked {
  background: mix(@view_bg_color, @accent_bg_color, 0.30);
}

.notejot-sidebar-box {
  padding: 20px;
  margin: 0px;
}
.notejot-sidebar-box-row {
  padding: 20px;
  margin: 0px;
}
.notejot-sidebar-box-grid {
  padding: 12px;
  border-radius: 8px;
}

.content-header {
  background: @window_bg_color;
}

.scrim {
  background-image: linear-gradient(180deg,
      alpha(#2d2d2d, 0.12),
      alpha(#2d2d2d, 0.1),
      alpha(#2d2d2d, 0.07),
      alpha(#2d2d2d, 0.05),
      alpha(#2d2d2d, 0.02),
      alpha(#2d2d2d, 0),
      alpha(#2d2d2d, 0.02),
      alpha(#2d2d2d, 0.05),
      alpha(#2d2d2d, 0.07),
      alpha(#2d2d2d, 0.1),
      alpha(#2d2d2d, 0.12),
      alpha(#2d2d2d, 0.15),
      alpha(#2d2d2d, 0.17),
      alpha(#2d2d2d, 0.2),
      alpha(#2d2d2d, 0.22),
      alpha(#2d2d2d, 0.25),
      alpha(#2d2d2d, 0.27));
  color: #fafafa;
  padding: 0;
  margin: 0;
}
.scrim headerbar {
  color: #fafafa;
}
.scrim box > label,
.scrim .image-text-button label,
.scrim entry text {
  text-shadow: 0 1px 2px #2d2d2d;
}
.scrim image {
  -gtk-icon-shadow: 0 1px 2px #2d2d2d;
}
.scrim .close image {
  box-shadow: 0 1px 2px #2d2d2d;
}
.scrim .maximize image {
  box-shadow: 0 1px 2px #2d2d2d;
}

.color-red radio {
  background: #db898e;
  color: #db898e;
}

.color-orange radio {
  background: #eeab7a;
  color: #eeab7a;
}

.color-yellow radio {
  background: #f6dc83;
  color: #f6dc83;
}

.color-green radio {
  background: #92dcb9;
  color: #92dcb9;
}

.color-blue radio {
  background: #89b3e6;
  color: #89b3e6;
}

.color-purple radio {
  background: #bc99c8;
  color: #bc99c8;
}

.color-brown radio {
  background: #beaa98;
  color: #beaa98;
}

.color-reset radio {
  background: @view_bg_color;
  color: @view_bg_color;
}

.big-font {
  font-size: 1.4rem;
}

.med-font {
  font-size: 1.1rem;
}

.sml-font {
  font-size: 0.9rem;
}

.nb * {
  background: none;
}

