@define-color accent_color #816600;
@define-color accent_bg_color #ffd663;
@define-color accent_fg_color #524000;
@define-color window_bg_color #f3f1ec;
@define-color view_bg_color #fefdf7;
@define-color headerbar_bg_color #f3f1ec;
@define-color popover_bg_color #fefdf7;
@define-color popover_fg_color #1d1c18;
@define-color window_fg_color #1d1c18;
@define-color view_fg_color #1d1c18;
@define-color headerbar_fg_color #1d1c18;
@define-color borders alpha(#7d7667, 0.5);

.solid-csd {
  box-shadow: none;
  outline: 1px solid @borders;
}

.circular radio {
  background: none;
  padding: 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  border-color: alpha(@window_fg_color, 0.3);
}

.circular radio:hover {
  border-color: alpha(@window_fg_color, 0.6);
}

.circular radio:checked {
  border-color: alpha(@window_fg_color, 0.3);
}

.outline {
  background: none;
  border: 1px solid @borders;
}

.list-action-button {
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 alpha(black, 0.3),
              0 4px 8px 3px alpha(black, 0.15);
}
.list-action-button:hover {
  box-shadow: 0 2px 3px 0 alpha(black, 0.3),
              0 6px 10px 4px alpha(black, 0.15);
}
.list-action-button:active {
  box-shadow: 0 1px 3px 0 alpha(black, 0.3),
              0 4px 8px 3px alpha(black, 0.15);
}
.list-action-button.accent-button {
  background: @accent_bg_color;
  color: @accent_fg_color;
}
.list-action-button.accent-button:hover {
  background: shade(@accent_bg_color, 1.024);
}
.list-action-button.accent-button:active {
  background: shade(@accent_bg_color, 0.95);
}
.list-action-button.destructive-action {
  background: #f9dedc;
  color: #410e0b;
}
.list-action-button.destructive-action:hover {
  background: shade(#f9dedc, 1.024);
}
.list-action-button.destructive-action:active {
  background: shade(#f9dedc, 0.95);
}

.content-view {
	border-radius: 8px;
	margin: 0 6px 6px 6px;
}

.content {
  background: @view_bg_color;
  box-shadow: none;
}

.rounded-main {
  background: mix(@window_bg_color, @window_fg_color, 0.08);
  box-shadow: none;
  border: none;
  margin: 0px;
}
.rounded-main > .rounded-main-child {
  background: @window_bg_color;
  box-shadow: none;
  border-radius: 12px 0 0 12px;
  border: none;
}
.rounded-main > .rounded-main-child2 {
  background: @window_bg_color;
  box-shadow: none;
  border: none;
}
.rounded-main > separator {
  background: @window_bg_color;
}

.content-sidebar-notebooks {
	margin: 6px;
	margin-bottom: 0px;
	border-radius: 8px;
	border: none;
	box-shadow: none;
	background: none;
}

.content-sidebar-main {
	margin: 6px 12px;
	margin-bottom: 0px;
	border: none;
	box-shadow: none;
	background: none;
}

.content-sidebar-main row {
  margin-bottom: 6px;
  padding: 3px 2px;
  border-radius: 999px;
}

.content-sidebar-main row:hover {
  background: alpha(@view_fg_color, 0.05);
}

.content-sidebar-main row:selected {
  background: alpha(@view_fg_color, 0.1);
}

.content-sidebar-notebooks-item {
  padding: 0px;
  margin: 0px;
  margin-bottom: 6px;
  border: none;
  box-shadow: none;
  border-radius: 8px;
}
.content-sidebar-notebooks-item:hover {
  background: alpha(@view_bg_color, 0.4);
}
.content-sidebar-notebooks-item:active {
  background: alpha(@view_bg_color, 0.5);
}

.content-sidebar-contents-item .title {
  padding: 0;
  margin: 0;
}

.content-sidebar-notebooks-button.toggle {
  border: none;
  margin: 0 12px;
  padding: 6px 12px;
  box-shadow: none;
  border-radius: 999px;
  background: none;
}
.content-sidebar-notebooks-button.toggle label {
  margin: 6px;
  font-weight: 400;
}
.content-sidebar-notebooks-button.toggle:hover {
  background: alpha(@window_fg_color, 0.05);
}
.content-sidebar-notebooks-button.toggle:active {
  background: alpha(@window_fg_color, 0.1);
}
.content-sidebar-notebooks-button.toggle:checked {
  background: alpha(@window_fg_color, 0.1);
}

.content-sidebar {
	margin: 0 6px 6px 6px;
	border-radius: 8px;
	border: none;
	background: @view_bg_color;
}
.content-sidebar row {
  margin: 0px;
  padding: 0px;
}
.content-sidebar row:last-child box {
  border: none;
}

.content-sidebar-dialog {
	margin: 6px 12px;
	margin-bottom: 0px;
	border-radius: 8px;
	border: none;
	background: @view_bg_color;
}
.content-sidebar-dialog row {
  margin: 0px;
  padding: 0px;
}
.content-sidebar-dialog row:last-child box {
  border: none;
}

.notejot-sidebar-box-mainrow {
  padding: 10px;
  margin: 0px;
  font-weight: 500;
}

.content-sidebar row {
  padding: 12px;
  margin: 6px;
  margin-top: 3px;
  background: alpha(@view_fg_color, 0.05);
  border-radius: 8px;
}
.content-sidebar row:first-child {
  margin-top: 6px;
}
.content-sidebar row:hover {
  background: alpha(@view_fg_color, 0.11);
}
.content-sidebar row:selected {
  background: alpha(@accent_color, 0.14);
}

.content-sidebar child {
  padding: 12px;
  margin: 6px;
  margin-top: 6px;
  background: alpha(@view_fg_color, 0.05);
  border-radius: 8px;
}
.content-sidebar child:hover {
  background: alpha(@view_fg_color, 0.11);
}
.content-sidebar child:selected {
  background: alpha(@accent_color, 0.14);
}

.notejot-sidebar-box-row {
  padding: 20px;
  margin: 0px;
  border-bottom: 1px solid @borders;
}

.content-header {
	border-radius: 8px 8px 0 0;
}

.content-header entry {
	background: alpha(@view_fg_color, 0.07);
	border: none;
	padding: 6px 12px;
	border-radius: 8px;
}

.content-footer {
	border-radius: 0 0 8px 8px;
}

.content-footer box {
	box-shadow: none;
}

.content-footer button {
  background: none;
}
.content-footer button:hover {
  background: alpha(@view_fg_color, 0.122);
}
.content-footer button:active {
  background: alpha(@view_fg_color, 0.188);
}

.no-sep {
  min-width: 0px;
  min-height: 0px;
}

.no-sep2 {
  min-width: 0px;
  min-height: 0px;
}

.notejot-theme {
  margin: 0;
  padding: 0;
}

.notejot-theme button {
  font-weight: 400;
  padding: 4px 10px;
}

.notejot-theme separator {
  margin: 2px;
}

.notejot-stitle,
.notejot-sbtitle,
.notejot-titlebar {
  border-bottom: none;
	box-shadow: none;
	background: none;
}

.notejot-theme-grid {
  margin: 6px;
}

.notejot-searchbar {
  border-radius: 9rem;
  padding: 0 12px;
  margin: 6px 0 6px;
  border: none;
  background: @window_bg_color;
}

.notejot-searchbar image {
  margin-left: 3px;
  padding: 0;
}

.notejot-searchbar text {
  margin-left: 3px;
  padding: 0;
}

.nw-action {
  background: @headerbar_bg_color;
}

.color-red radio {
  background: #db898e;
  color: #db898e;
}
.color-orange radio {
  background: #eeab7a;
  color: #eeab7a;
}
.color-yellow radio {
  background: #f6dc83;
  color: #f6dc83;
}
.color-green radio {
  background: #92dcb9;
  color: #92dcb9;
}
.color-blue radio {
  background: #89b3e6;
  color: #89b3e6;
}
.color-purple radio {
  background: #bc99c8;
  color: #bc99c8;
}
.color-brown radio {
  background: #beaa98;
  color: #beaa98;
}
.color-reset radio {
  background: @view_bg_color;
  color: @view_bg_color;
}

.big-font {
  font-size: 1.4rem;
}
.med-font {
  font-size: 1.1rem;
}
.sml-font {
  font-size: 0.9rem;
}
