.solid-csd {
  box-shadow: none;
  outline: 1px solid @borders;
}

.circular radio {
  background: none;
  padding: 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 999px;
  border-color: alpha(@window_fg_color, 0.3);
}

.circular radio:hover {
  border-color: alpha(@window_fg_color, 0.6);
}

.circular radio:checked {
  border-color: alpha(@window_fg_color, 0.3);
}

.outline {
  background: none;
  border: 1px solid @borders;
}

.notejot-note headerbar {
  box-shadow: none;
  border: none;
  background: none;
}

.scrim {
  background-image: linear-gradient(180deg,
      alpha(#2d2d2d, 0.12),
      alpha(#2d2d2d, 0.1),
      alpha(#2d2d2d, 0.07),
      alpha(#2d2d2d, 0.05),
      alpha(#2d2d2d, 0.02),
      alpha(#2d2d2d, 0),
      alpha(#2d2d2d, 0.02),
      alpha(#2d2d2d, 0.05),
      alpha(#2d2d2d, 0.07),
      alpha(#2d2d2d, 0.1),
      alpha(#2d2d2d, 0.12),
      alpha(#2d2d2d, 0.15),
      alpha(#2d2d2d, 0.17),
      alpha(#2d2d2d, 0.2),
      alpha(#2d2d2d, 0.22),
      alpha(#2d2d2d, 0.25),
      alpha(#2d2d2d, 0.27));
  color: #fafafa;
  padding: 0;
  margin: 0;
}
.scrim headerbar,
.scrim .disclosure-button {
  color: #fafafa;
}
.scrim box > label,
.scrim > label,
.scrim entry text,
.scrim widget > label {
  color: #fafafa;
  text-shadow: 0 1px 2px #2d2d2d;
}
.scrim image {
  color: #fafafa;
  -gtk-icon-shadow: 0 1px 2px #2d2d2d;
}
.scrim .close image,
.scrim .maximize image,
.scrim .image-text-button,
.scrim .disclosure-button {
  color: #fafafa;
  box-shadow: 0 1px 2px #2d2d2d;
}

.notejot-searchbar {
  border-radius: 999px;
}

.color-red radio {
  background: #db898e;
  color: #db898e;
}

.color-orange radio {
  background: #eeab7a;
  color: #eeab7a;
}

.color-yellow radio {
  background: #f6dc83;
  color: #f6dc83;
}

.color-green radio {
  background: #92dcb9;
  color: #92dcb9;
}

.color-blue radio {
  background: #89b3e6;
  color: #89b3e6;
}

.color-purple radio {
  background: #bc99c8;
  color: #bc99c8;
}

.color-brown radio {
  background: #beaa98;
  color: #beaa98;
}

.color-reset radio {
  background: @view_bg_color;
  color: @view_bg_color;
}

.big-font {
  font-size: 1.4rem;
}

.med-font {
  font-size: 1.1rem;
}

.sml-font {
  font-size: 0.9rem;
}

.nb * {
  background: none;
}