.content-view {
	border: 1px solid @borders;
}

.content-sidebar {
	border: 1px solid @borders;
}

.content-header {
	border-bottom: 1px solid @borders;
}

.content-footer > revealer > box {
	border-top: 1px solid @borders;
}

.rounded-main > .rounded-main-child {
  border-left: 1px solid @borders;
}

.rounded-main > .rounded-main-child:rtl {
  border-right: 1px solid @borders;
}
