on:
  push:
    branches: [main]
  pull_request:
name: CI
jobs:
  flatpak:
    name: Flatpak
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-nightly
      options: --privileged
    steps:
      - uses: actions/checkout@v2.3.5
      - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v4
        with:
          bundle: io.github.lainsce.Notejot.Devel.flatpak
          manifest-path: io.github.lainsce.Notejot.Devel.json
          run-tests: true
